#salespopups-container {
  position: fixed;
  bottom: 10px;
  left: 30px;
  width: 320px;
  font-family: 'Helvetica';
  z-index: 3000;
}

.salespopups-toast {
  position: relative;
  padding: 20px 17px;
  margin: 20px;
  background: #F5F5F5;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  animation-duration:  .3s;
  animation-name: SalesPopups;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.salespopups-fadeOut {
  animation-name: SalesPopupsFadeOut;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-fill-mode: forwards;
}

#salespopups-container p, h4 {
  margin: 3px 0!important;
}

.salespopups-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.salespopups-text {
  font-size: 12px;
  color: #777;
}

.salespopups-icon {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background: #FFF;
}

.salespopups-time-ago {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size:15px;
}

.salespopups-toast a, .salespopups-toast a:hover {
  color: #549EDB !important;
  text-decoration: none !important;
}

/** toast types */
.salespopups-success {
  border-bottom: 2px solid #51C625;
}

.salespopups-warning {
  border-bottom: 2px solid #DB9215;
}

.salespopups-error {
  border-bottom: 2px solid #DB2B1D;
}

.salespopups-info {
  border-bottom: 2px solid #27ABDB;
}

@keyframes SalesPopups {
  from {
    transform: translate3d(400px, 0, 0);;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes SalesPopupsFadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
}